html {
    font-size: 10px;
    font-family: sans-serif;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-family: 'billabong';
    text-align: center;
    font-size: 8em;
    margin: 2rem;
    font-weight: 100;
}

@font-face {
    font-family: 'billabong';
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
    src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');

}

.photo-grid {
 max-width: 1000px;
 margin:0 auto;
 display: flex;
 flex-wrap: wrap;
}

.figure {
    flex-basis: calc(33.33% - 4rem);
    border: 4px solid #d3d3d3;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 2rem 2rem 2rem;
}

.photo {
    width:calc(100% + 4rem);
    margin: -2rem 0 0 -2rem;
}

.button-container
{
  display: flex;
  justify-content: center;
}
.remove-btn {
flex-basis: 48%;
color: red;
font-size: 15px;
border: 2px #f2f2f2;
line-height: 2;
padding: 3px;
}

.add-icon {
    margin: 20px auto;
    display: table;
    padding: 30px;
    background: url('https://image.flaticon.com/icons/svg/60/60740.svg')  center no-repeat;
    background-size: contain;
    border: none;

}